<%-include('include/_header')%>
<section class="kkkkk">
<main>
  <div class="box-nav">
    <a href="/" class="border-shadow">
        <span class="text-gradient"><i class="fa-solid fa-arrow-left-long"></i> Go back</span>
    </a>
  </div>

<!-- ?form  handeling -->
<%- include('include/_form.ejs')%>


</main>
</section>
<%- include('include/_footer')%>
