<%-include('include/_header')%>
<section class="kkkkk">
  <!--* Artical -->
  <div class="box-nav">
    <a href="/addArtical" class="border-shadow">
        <span class="text-gradient"><i class="fa-solid fa-plus"></i> Create Artical</span>
    </a>
  </div>
  <main>
<div class="ContentCenter">
  <div class="flexContent">
    <%-include('include/_show')%>
  </div>
</div>

</section>



</main>




<!--? footer -->
<%- include('include/_footer')%>
